@import "tipografias";
@import "variables";

header {
    display: flex;
    flex-direction: column;
    
    padding: 0px;
    background-image: url("../img/puentefoto.jpg");
    background-size: cover;
    @keyframes animation {
      0% {
        top: 0%;
        left: 0%;
        width: 20%;
        opacity: 0;
      }
      25% {
        top: 0%;
        left: 20%;
        width: 25%;
        opacity: 0.2;
      }
      50% {
        top: 0%;
        left: 40%;
        width: 30%;
        opacity: 0.4;
      }
      75% {
        top: 0%;
        left: 20%;
        width: 25%;
        opacity: 0.7;
      }
      100% {
        top: 0%;
        left: 0%;
        width: 20%;
        opacity: 1;
      }
    }

    .titulo {
      text-align: center;
      padding: 1.5em 1em 0em 0em;
      animation-duration: 1.5s;
      .cabecera {
        height: 8vh;
        justify-content: center;
        padding: 0em 0em;
      }
      
    
    
   
    }
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      justify-items: center;
      
      .divNav {
        width: 100%;
        background-color: $grisClaro;
        display: flex;
        align-items: flex-end;
      justify-items: center;
        justify-content: space-evenly;
        .navEnlace {
          display: inline-block;
          padding: 0.3em;
          margin: 0.2em;
          text-align: center;
          /*background-color: $grisOscuro;*/
          opacity: 1;
          color:$marfil;
          /*border: outset black;
          border-radius: 6%;*/
          height: max-content;
          text-decoration: none;
          transition: transform 1s;
  
          &:hover {
            color: white;
            background-color:$grisOscuro;
            scale: 1.15;
          }
        }
      }
      .logo {
        margin: 0.2em;
        width: 16em;
        animation-name: animation;
        animation-duration: 1s;
        position: relative;
      }

      
      
    }
  }