
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

header {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  
  .titulo {
    font-size: 1.1em;
    .cabecera {
      font-size: 2em;
    }
    .navEnlace {
    font-size: 1.2em;
    }
  }
    


}
}